
/* css*/

:root {
	font-size: 20px;
	margin: 1rem;
	padding: 2rem;
	margin-top: 1rem;

}



legend {
	color: green; /* verde oscuro*/
}



h4 {
	color: green;
}
.Servicios {
	color: green;

}
label  {

	color: #FF5733 ;
}
article  , h3{

	color: green;
}
textarea {

	color: #40D466 
}
th {

	color: #40D466 ;
	
	border: 1px solid black;
	margin: 10px;
}
td  {
	color: #3CEC70 ;
	border: 1px solid black;
	margin: 10px;

}


header {
	font-size: 1rem;
	font-style: normal;
	font-family: "bunya PERSONAL", "sans-serif";
	text-align: center;	
	z-index: 3;

}


body {
	font-size:1rem;
	font-family:  "bunya PERSONAL", "sans-serif";
	background-image: url(nutri.jpg);
	
	background-size: absolute;

}
textarea {
	font-size: 1rem;
	font-family: "A little sunshine", "sans-serif";
	font-weight: bold;
	text-align:left; 
	
}
legend {
	font-size: 1,5rem;
	font-family: "A little sunshine", "sans-serif";
	font-weight: bold;


}
.Esc{  

	font-size:2rem;
	font-family: "bunya PERSONAL", "sans-serif"; 
	color: #FF5733;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	text-align: center;
	background-color: #e9bcb7;
	background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
}	
article .directora, header,.depi2 {  
	text-align: center;
	


}
li {
	font-size: 1rem;
	font-family: "Abadi","sans-serif";
	font-weight: bold;
	text-align: center;
	list-style: none;
}



p{
	font-size: 1rem;
	font-style: normal;
	font-family: "Abadi", "sans-serif";
	text-align: center;
}

h4,h3.contactanos {  
	font-size: 1rem;
	font-style: normal;
	font-family: "bunya PERSONAL ","sans-serif";
	text-align: center;
}
h4.izquierda{

	text-align: center ;
	border: 1px dashed black;


}
h2.iz{
	background-color: #e9bcb7;
	background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);

	text-align: center;
	border: 0px solid black;
	margin: 10px;
}
*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;


}
thead {
	
	border-bottom: solid 5px #FF5733;
	color: white;
	font-family: "bunya PERSONAL ","sans-serif";
	color: #FF5733;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	text-align: center;

	

}
tbody{
	
	border: none;
	margin: 20px;
	padding: 5px;
	

}
section {

	margin: 20px;
	padding: 5px;

}

table{
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	border: none;


	
}

th,td {
	padding: 20px;
	border: none;
}



#dee{
	border: 0px none;
	margin: 10px;
	padding: 15px;



}
#tab{
	
	
	background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
	text-align: center ;
	padding: 1rem;
	margin: 150px auto;
	width: 600px;
	font-size: 30px;
	font-family: "A little sunshine", "sans-serif";




}
#tab2{
	font-size: 17px;
	color: black;

	text-align: center ;
	padding: 0;
	background-color: grey;
	border-left:  solid 5px #246355;
	font-family: "bunya PERSONAL", "sans-serif";
	padding: 1rem;
	margin: 150px auto;
	width: 600px;


}
tr:hover{
	box-shadow: 3px 3px #FF5733, -1em 0 0.4em #C1F1CD;
	-webkit-transform:scale(1.0);
	-moz-transform:scale(1.0);
	-ms-transform:scale(1.0);
	-o-transform:scale(1.0);
	background-color: white;
	transition: all .6s;
	align-items: auto;

}




input {
	width: 200px; height: 30px;
	transition: all 2s;       
}
input:focus {
	width: 300px;
	font-size: 30px;
}
.Servicios{
	
	background-color: #e9bcb7;
	background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);


	

}
#logo {
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 50%;
	background-size: 100% auto;
	display: flex;
	align-items: flex-start;
}
img {
	background-repeat: no-repeat;
	background-position: 100%;
	
	background-size: 100% auto;
	display: flex;
	align-items: flex-start;
}
button {
	border: solid;
	background-color: black;
}
body{width:100%;margin: 0 auto;min-width:600px;max-width:2000px}
#container{width: 80%;}


@media (max-width: 320px)
{
	aside { display: none; }
}


.Main-Redes {  

	font-size: 2rem;
	font-style: normal;
	font-family: "bunya PERSONAL", "sans-serif";
	text-align: right ;
	
	border: 0px dashed black;
	padding: 10px 10px 10px 10px ;
	margin: 10px;
	border: solid;
	border: #C1F1CD 5px double;
	border-top-left-radius: 100px;
	border-bottom-right-radius: 120px;
	background-size: transparent; 

}
ol li {

	align-items:left;
	text-align: right ;
	color: black;

	
}
h6{
	margin-right: 10px;
	text-align: left;
}
.Main-Redes__list{
	

	position: fixed;
	right: 1rem;
	bottom: 1rem;
	z-index: 3;
	padding: 10px 30px 10px 10px ;
	justify-content: space-around;

	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	background-color: #C1F1CD;
	transition: background-color .5s;
}
.Main-Redes__link{
	background-color: #C1F1CD;
	transition: background-color .5s;

}
.Main-Redes__item:hover img{-webkit-transform:scale(1.25);
	-moz-transform:scale(1.25);
	-ms-transform:scale(1.25);
	-o-transform:scale(1.25);
	background-color: white;
}


.grid--Nutricionistas {
	display: grid;  
	grid-template-columns: 2fr 1fr; 
	grid-template-rows: 3fr 1fr; 
	align-items: stretch;
	transform: translate(10px , 10px);



}
.grid--Nutricionistas__directoras {
	border: 0px dashed black;
	padding: 5px 15px 5px 15px ;
	margin: 10px;
	color: #F34F41 ;

}
.grid2--depilacion{
	display: inline-block;  
	grid-template-columns: 2fr 1fr; 
	grid-template-rows: 3fr 1fr; 
	align-items: stretch;
	transform: translate(10px , 10px);
	background-color: transparent;


}
.grid2--depilacion__titulo {
	border: none;
	background-color:black;
	align-items: stretch;	
	color: black;
	font-size: 1,5rem;
	font-family: "bunya PERSONAL", "sans-serif";
	font-weight: bold;
	margin: 50px;
	padding: 15px;
	transparent: #e9bcb7;
	background-image: transparent;
	display: grid;
	align-items: end;
	justify-content: center;
	position: relative;
	-webkit-transition: background-color .2s linear;
	transition: background-color .2s linear;
	background-color: rgba(1,1,1,.5);
	text-shadow: 2px 2px 4px rgba(1,1,1,.75);

}
.grid2--depilacion__info{

	font-size: 2rem;
	font-family:"bunya PERSONAL", "sans-serif";
	color: white;
	font-weight: bold;
	text-align: center;
	display: inline-grid;
}

@media (max-width: 320px)
{  aside { display: none; }
}
.img-wrapper{
	display: grid;
	grid-template-columns: repeat(5fr, 5fr);
	grid-gap: 3px;
	grid-auto-rows: 150px;
	justify-content: center;
	width:80%; height:80%;
	color: white;
	margin: 10px;
	padding: 10px;




}

$primary :black;
$secundary:#3CEC70;
$naveg-flot : #C1F1CD;

h1{ color:$primary;
	color: black;
	font-size: 1,5rem;
	font-family: "bunya PERSONAL", "sans-serif";
	font-weight: bold;
    /* text-align: center; */

    /* border: 1px solid black; */
    margin: 50px;
    padding: 15px;
    transparent: #e9bcb7;
    background-image: transparent;
    display: grid;
    align-items: end;
    justify-content: start;;
    position: relative;
    z-index: 3;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
    background-color: rgba(1,1,1,.5);
    text-shadow: 2px 2px 4px rgba(1,1,1,.75);

}  



h2{
	color: $primary;
	padding: 5px 5px 5px 5px ;
	margin: 30px;
	
}

.data{
	color: $secundary;
}
.Main-Redes__link{
	background-color: $naveg-flot;
}
.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(3,100px);
	height: 500px;
	width: 500px;
	grid-gap: 10px;
}

.MainNav{
	
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	text-shadow: 1px 1px 1px rgba(1,1,1,.75);
	color: black;
	font-size: bold;
	transparent: #e9bcb7;
	background-image: transparent;
	z-index: 100;
	-webkit-transition: background-color .2s linear;
	transition: background-color .2s linear;
	background-color: rgba(1, 1, 1, 0.5);



}
.carousel-item img {

	width:auto;
	height:900px;
	background-size:cover;
}
@import url(frameworks\bootstrap\scss\bootstrap.scss);

.programa {
	display: inline-grid;
	grid-row-end: 2fr 1fr;

	
}
´.programa img {
	height: 350px;
	width: auto;
}
#os {
	weight:20px;
	height: 50px;
}
.grid {
	display: grid;
	grid-template-columns: fr 1fr;
	grid-template-rows: 2fr 1fr;

}
.main-container {
	padding: 0;
	position: relative;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: auto;
}
header , nav, ul, li, a {
	color: #FF5733; /* rosa claro */
	margin: top 10rem;
	text-decoration: none;
	font-size: 1rem;
	position: relative;
	border-radius: 15px;



	

}
a:hover{
	color: grey;
	text-decoration: none;
	box-shadow: 3px 3px #FF5733, -1em 0 0.4em #C1F1CD;
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-o-transform:scale(1.2);
	background-color: white;
	transition: all .6s;
	align-items: auto;
}

	

.submenu {
	position:absolute;
	top: 5px; left: 20px;
	padding: 1rem;
	margin-top: 1rem;
	background:#C1F1CD ;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
	justify-content: center;
	align-content: center;

}
.submenu li a {
	font-size: 0.8rem;
	display: block;
	padding: 1rem;
	color: black;
	font-family: "Open sans";
	text-decoration: none;
	border-radius: 15px;
}
.nav li:hover .submenu {
	font-size: 10px;
	visibility: visible;
	z-index: 3;
	opacity: 3;
	background-color: white;
	transition: all .6s;
	border-radius: 15px;
	position: relative;
	line-height: 1.5;
	box-shadow: 3px 3px #FF5733, -1em 0 0.4em #C1F1CD;
}
.container {
	width: 100%;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: auto;
	margin-left: auto;
}
footer {
	border-color:$naveg-flot;
	position: relative;
	margin-top: 0;
	padding: 0;
	margin: 10px;
	text-shadow: 2px 2px 4px rgba(1,1,1,.75);
	color: black;
	font-size: bold;
	background-image: transparent;
	background-color: rgba(1, 1, 1, 0.5);


}

#obras_sociales{
	padding: 1rem; 
	margin: auto;
	margin-bottom:1rem;
	width:170px;
	height:auto;
	background-image:cover;

	
	
}
html { 
	background: url(nutri.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.sticky {
	position: fixed;
	top: 0;
	width: 90%;
	z-index: 4;
	margin: 0px;
	padding: 0px;
	margin-top: -2;
	padding-bottom: 12px;


}
html, body {
	height:100%;
	margin:0px;
	color:#444444;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	font:400 16px/1.8 sans-serif;
}


.centrar {
	display:block;
	margin-left: auto;
	margin-right: auto
}
.contain{
	display: grid;
	display: inline-grid;
}
.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {

	color: transparent;
	text-decoration: none;
	box-shadow: 3px 3px ;
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-o-transform:scale(1.2);
	background-color:none;
	transition: all .3s;
	align-items: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;

    width: 5%;
    height: auto;
    text-align: center;
    opacity: .5;
    
}